{
  "$schema": "https://tds.dev/schemas/API_SPEC.json",
  "version": 1,
  "generatedAt": "SEED",
  "seed": true,
  "status": "planned",
  "note": "PLANNED — no backend, API, or server exists in the TDS repo today (runtime deps are only react + react-dom). This is an exemplary OpenAPI-3.1-shaped seed describing the FUTURE Supabase-backed API layer (Postgres + Auth + RLS + Edge Functions), engineered to scale beyond 10,000,000 users. It is illustrative only and MUST NOT be treated as an implemented contract. See docs/ai-os/15_API_GUIDE.md and docs/ai-os/17_SUPABASE_GUIDE.md.",
  "generator": "seed (hand-authored exemplar; future: scripts/build-ai-manifests.ts once the API exists)",
  "sourceOfTruth": {
    "design": "Storybook + src/**/*.meta.ts + src/tokens/* (IMMUTABLE design lock)",
    "derivedManifests": [
      "src/generated/design-system.manifest.json",
      "figma/tds.plugin.json",
      ".ai/COMPONENT_INDEX.json",
      ".ai/TOKEN_INDEX.json"
    ],
    "relatedManifests": [
      ".ai/ERD.json",
      ".ai/PROJECT_MANIFEST.json"
    ]
  },
  "openapi": "3.1.0",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "TDS API (PLANNED)",
    "version": "0.0.0-planned",
    "summary": "PLANNED read/publish API over the TDS design system catalog, tokens, and releases.",
    "description": "STATUS: PLANNED — no backend exists in the repo today. This document illustrates the intended REST surface for the future Supabase-backed API. The API is a downstream CONSUMER of the immutable design sources; it never mutates design truth (that flows only through *.meta.ts / src/tokens + the build pipeline). Endpoints below (/components, /tokens, /releases) are exemplary.",
    "contact": {
      "name": "TDS AI OS",
      "url": "https://tds.dev"
    },
    "license": {
      "name": "UNLICENSED (internal)",
      "identifier": "LicenseRef-internal"
    }
  },
  "servers": [
    {
      "url": "https://api.tds.dev/v1",
      "description": "PLANNED production (Supabase Edge Functions / Node >=20 gateway)"
    },
    {
      "url": "https://staging.api.tds.dev/v1",
      "description": "PLANNED staging"
    },
    {
      "url": "http://localhost:54321/functions/v1",
      "description": "PLANNED local Supabase Edge Functions runtime"
    }
  ],
  "security": [
    {
      "supabaseJwt": []
    }
  ],
  "tags": [
    {
      "name": "components",
      "description": "Read the design-system component catalog (mirrors docs/COMPONENTS.md / .ai/COMPONENT_INDEX.json)."
    },
    {
      "name": "tokens",
      "description": "Read design tokens across the Primitives / Semantic / Theme collections."
    },
    {
      "name": "releases",
      "description": "List and publish immutable design-system releases (semver)."
    }
  ],
  "paths": {
    "/components": {
      "get": {
        "operationId": "listComponents",
        "summary": "List components in the catalog",
        "tags": ["components"],
        "parameters": [
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/cursor" },
          {
            "name": "tier",
            "in": "query",
            "required": false,
            "description": "Filter by atomic tier.",
            "schema": {
              "type": "string",
              "enum": ["atom", "molecule", "organism"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A cursor-paginated page of components.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/Page" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Component" }
                        }
                      },
                      "required": ["data"]
                    }
                  ]
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "default": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/components/{name}": {
      "parameters": [
        {
          "name": "name",
          "in": "path",
          "required": true,
          "description": "Component name, e.g. \"Button\", \"Card\", \"Dropdown\".",
          "schema": { "type": "string", "pattern": "^[A-Z][A-Za-z0-9]+$" }
        }
      ],
      "get": {
        "operationId": "getComponent",
        "summary": "Get one component's full metadata",
        "tags": ["components"],
        "responses": {
          "200": {
            "description": "The component metadata (derived from its *.meta.ts).",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Component" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "default": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/tokens": {
      "get": {
        "operationId": "listTokens",
        "summary": "List design tokens",
        "tags": ["tokens"],
        "parameters": [
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/cursor" },
          {
            "name": "collection",
            "in": "query",
            "required": false,
            "description": "Filter by Variable collection.",
            "schema": {
              "type": "string",
              "enum": ["Primitives", "Semantic", "Theme"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A cursor-paginated page of tokens.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/Page" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Token" }
                        }
                      },
                      "required": ["data"]
                    }
                  ]
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "default": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/releases": {
      "get": {
        "operationId": "listReleases",
        "summary": "List published releases",
        "tags": ["releases"],
        "parameters": [
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/cursor" }
        ],
        "responses": {
          "200": {
            "description": "A cursor-paginated page of releases (newest first).",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/Page" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Release" }
                        }
                      },
                      "required": ["data"]
                    }
                  ]
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "default": { "$ref": "#/components/responses/Error" }
        }
      },
      "post": {
        "operationId": "createRelease",
        "summary": "Publish a new immutable release",
        "description": "PLANNED — requires the 'release:publish' role (enforced by Supabase RLS + JWT claims). Releases are immutable once created.",
        "tags": ["releases"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ReleaseCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Release created.",
            "headers": {
              "Location": {
                "description": "Canonical URL of the created release.",
                "schema": { "type": "string", "format": "uri-reference" }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Release" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "409": {
            "description": "A release with this version already exists (immutable).",
            "content": {
              "application/problem+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "default": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/releases/{version}": {
      "parameters": [
        {
          "name": "version",
          "in": "path",
          "required": true,
          "description": "Semantic version, e.g. \"0.1.0\".",
          "schema": {
            "type": "string",
            "pattern": "^\\d+\\.\\d+\\.\\d+(?:-[0-9A-Za-z-.]+)?$"
          }
        }
      ],
      "get": {
        "operationId": "getRelease",
        "summary": "Get one release",
        "tags": ["releases"],
        "responses": {
          "200": {
            "description": "The release.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Release" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "default": { "$ref": "#/components/responses/Error" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "supabaseJwt": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "PLANNED — Supabase-issued JWT in the Authorization header (`Authorization: Bearer <access_token>`). Row-level access is enforced by Postgres RLS using the token's claims (sub, role, aud)."
      }
    },
    "parameters": {
      "limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Maximum items per page (cursor pagination).",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 200,
          "default": 50
        }
      },
      "cursor": {
        "name": "cursor",
        "in": "query",
        "required": false,
        "description": "Opaque forward cursor returned as page.nextCursor. Omit for the first page.",
        "schema": { "type": "string" }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid Supabase JWT.",
        "content": {
          "application/problem+json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": {
              "type": "https://tds.dev/errors/unauthorized",
              "title": "Unauthorized",
              "status": 401,
              "detail": "A valid Supabase bearer token is required.",
              "requestId": "req_01HZY0SEED0000000000000000"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Authenticated but not permitted (RLS / role denied).",
        "content": {
          "application/problem+json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found.",
        "content": {
          "application/problem+json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "ValidationError": {
        "description": "Request body failed validation.",
        "content": {
          "application/problem+json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "RateLimited": {
        "description": "Too many requests.",
        "headers": {
          "Retry-After": {
            "description": "Seconds to wait before retrying.",
            "schema": { "type": "integer", "minimum": 0 }
          }
        },
        "content": {
          "application/problem+json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Error": {
        "description": "Unexpected error.",
        "content": {
          "application/problem+json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "description": "RFC 9457 (problem+json) error model used by every non-2xx response.",
        "required": ["title", "status"],
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "A URI identifying the problem type.",
            "default": "about:blank"
          },
          "title": { "type": "string", "description": "Short, human-readable summary." },
          "status": {
            "type": "integer",
            "minimum": 100,
            "maximum": 599,
            "description": "HTTP status code."
          },
          "detail": { "type": "string", "description": "Human-readable explanation." },
          "instance": { "type": "string", "format": "uri-reference" },
          "requestId": {
            "type": "string",
            "description": "Correlation id for tracing/observability."
          },
          "errors": {
            "type": "array",
            "description": "Field-level validation issues (for 422 responses).",
            "items": {
              "type": "object",
              "required": ["path", "message"],
              "properties": {
                "path": { "type": "string" },
                "message": { "type": "string" }
              }
            }
          }
        }
      },
      "Page": {
        "type": "object",
        "description": "Cursor-pagination envelope. Consumers loop while nextCursor is non-null.",
        "required": ["data", "page"],
        "properties": {
          "data": {
            "type": "array",
            "description": "The page items (overridden by each endpoint with its concrete item type).",
            "items": {}
          },
          "page": {
            "type": "object",
            "required": ["limit", "hasMore"],
            "properties": {
              "limit": { "type": "integer" },
              "hasMore": { "type": "boolean" },
              "nextCursor": {
                "type": ["string", "null"],
                "description": "Pass back as ?cursor= to fetch the next page; null on the last page."
              },
              "total": {
                "type": ["integer", "null"],
                "description": "Best-effort total count; may be null at scale (>10M rows) for performance."
              }
            }
          }
        }
      },
      "Component": {
        "type": "object",
        "description": "A design-system component, projected from its *.meta.ts (read-only; design truth is immutable).",
        "required": ["name", "tier", "isComponentSet"],
        "properties": {
          "name": { "type": "string", "example": "Button" },
          "tier": {
            "type": "string",
            "enum": ["atom", "molecule", "organism"],
            "example": "atom"
          },
          "summary": { "type": "string", "example": "Clickable action trigger." },
          "tags": {
            "type": "array",
            "items": { "type": "string" },
            "example": ["actions", "interactive"]
          },
          "isComponentSet": { "type": "boolean", "example": true },
          "variantAxes": {
            "type": "array",
            "description": "Variant axes (type/variant/tone/size/shape); state axis is deliberately excluded.",
            "items": {
              "type": "object",
              "required": ["name", "options"],
              "properties": {
                "name": {
                  "type": "string",
                  "enum": ["type", "variant", "tone", "size", "shape"]
                },
                "label": { "type": "string" },
                "options": { "type": "array", "items": { "type": "string" } }
              }
            }
          },
          "variantCount": { "type": "integer", "minimum": 1 },
          "storybookTitle": { "type": "string", "example": "Atoms/Button" }
        }
      },
      "Token": {
        "type": "object",
        "description": "A design token from one of the three Variable collections.",
        "required": ["id", "collection"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Dot-notation token id.",
            "example": "color.brand.solid"
          },
          "collection": {
            "type": "string",
            "enum": ["Primitives", "Semantic", "Theme"],
            "example": "Semantic"
          },
          "cssVar": {
            "type": "string",
            "description": "Web CSS custom property.",
            "example": "--tds-color-brand-solid"
          },
          "figmaName": {
            "type": "string",
            "description": "Slash-notation Figma variable name.",
            "example": "color/brand/solid"
          },
          "type": {
            "type": "string",
            "enum": ["color", "dimension", "number", "string"],
            "example": "color"
          },
          "valuesByMode": {
            "type": "object",
            "description": "Resolved value per mode; Theme tokens carry light/dark, others carry default.",
            "additionalProperties": { "type": "string" },
            "example": { "light": "#3B82F6", "dark": "#60A5FA" }
          }
        }
      },
      "Release": {
        "type": "object",
        "description": "An immutable, published snapshot of the design system.",
        "required": ["version", "createdAt", "manifestSha256"],
        "properties": {
          "version": { "type": "string", "example": "0.1.0" },
          "createdAt": { "type": "string", "format": "date-time" },
          "createdBy": {
            "type": "string",
            "description": "Supabase auth user id (JWT sub).",
            "format": "uuid"
          },
          "notes": { "type": "string" },
          "componentCount": { "type": "integer", "example": 60 },
          "tokenCount": { "type": "integer" },
          "manifestSha256": {
            "type": "string",
            "description": "Content hash of src/generated/design-system.manifest.json at publish time.",
            "pattern": "^[a-f0-9]{64}$"
          },
          "bundleUrl": {
            "type": "string",
            "format": "uri",
            "description": "PLANNED Supabase Storage URL of the archived figma/tds.plugin.json bundle."
          }
        }
      },
      "ReleaseCreate": {
        "type": "object",
        "required": ["version"],
        "properties": {
          "version": {
            "type": "string",
            "pattern": "^\\d+\\.\\d+\\.\\d+(?:-[0-9A-Za-z-.]+)?$",
            "example": "0.2.0"
          },
          "notes": { "type": "string", "maxLength": 4000 }
        },
        "additionalProperties": false
      }
    }
  },
  "conventions": {
    "auth": "Supabase JWT bearer (supabaseJwt); RLS enforces row access from token claims.",
    "pagination": "Opaque cursor via ?limit & ?cursor; response carries page.nextCursor (null = last page).",
    "errors": "application/problem+json (RFC 9457) with type/title/status/detail/requestId.",
    "versioning": "URL-prefixed major version (/v1); additive changes are non-breaking.",
    "immutability": "The API is read-mostly over IMMUTABLE design truth; only /releases POST writes, and releases are immutable once created.",
    "idempotency": "PLANNED — mutating requests SHOULD honor an Idempotency-Key header."
  }
}
